body {
  padding: 0 20px;
  background: #fff1eb;
}
.weather-app-wrapper {
  max-width: 850px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 3px solid white;
  border-radius: 25px;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
#header {
  font-family: "Koh Santepheap", cursive;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
  color: #fff1eb;
}
#search-input {
  margin-bottom: 20px;
  padding: 5px;
  color: #171719;
  font-size: 15px;
  border: 2px;
  border-radius: 5px;
  width: 90%;
  margin-left: -305px;
  position: relative;
  left: 38.5%;
  background: #fff1eb;
}
#sumbit {
  padding: 5px;
  color: #171719;
  font-size: 15px;
  background-color: #5585b5;
  color: #fff1eb;
  border: 2px;
  border-radius: 5px;
  width: 7.5%;
  position: relative;
  left: 38.5%;
}
#sumbit:hover {
  background-color: #fff1eb;
  color: #5585b5;
  border: 2px;
  border-radius: 5px;
}
li {
  list-style: none;
  font-weight: bold;
  font-size: 25px;
}
#city-name {
  font-size: 30px;
}
.card1 {
  font-family: "Koh Santepheap", cursive;
  border-radius: 30px;
  border: 0.5px solid #fff1eb;
  position: relative;
  left: 1%;
  margin-top: 0px;
  padding-top: 25px;
  width: 50%;
  transition: 0.3s;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  height: 15rem;
}
.card-body1 {
  padding: 10px 5px 20px 50px;
  background: linear-gradient(
    to right,
    #ff6b08,
    #247291,
    #247291,
    #bbe4e9,
    #f8da5b,
    #ff6b08,
    #ff6b08
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  height: 11rem;
}
.card1:hover {
  box-shadow: 0 8px 16px 0 #5585b5;
}
.card2 {
  font-family: "Koh Santepheap", cursive;
  font-weight: bold;
  font-size: 15px;
  border-radius: 30px;
  border: 0.5px solid #fff1eb;
  position: relative;
  right: -64%;
  margin-top: -265px;
  padding-top: 20px;
  width: 35%;
  transition: 0.3s;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  height: 15rem;
}
.card-body2 {
  padding: 40px 60px 90px 30px;
  background: linear-gradient(
    to right,
    #ff6b08,
    #247291,
    #247291,
    #ff6b08,
    #bbe4e9,
    #f8da5b,
    #ff6b08,
    #ff6b08
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  height: 11rem;
}
.card2:hover {
  box-shadow: 0 8px 16px 0 #5585b5;
}
.img {
  position: relative;
  top: -220%;
  left: 70%;
  width: 65%;
}
.card3 {
  font-family: "Koh Santepheap", cursive;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
  background: linear-gradient(
    192deg,
    rgb(220, 236, 245) 35%,
    rgb(255, 241, 235) 88%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  border-radius: 30px;
  width: 100%;
  border: 1px solid #fff1eb;
  height: 9rem;
}
.card-body {
  padding: 40px;
  background: linear-gradient(
    to right,
    #ff6b08,
    #247291,
    #247291,
    #f8da5b,
    #ff6b08,
    #ff6b08
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 13px;
  text-align: center;
}
.card3:hover {
  box-shadow: 0 8px 16px 0 #5585b5;
}
.card-title {
  font-size: 18px;
}
li #main-icon {
  font-size: 50px;
}
.description {
  font-size: 15px;
}
#big-tempreture {
  font-size: 40px;
}
footer {
  margin-top: 15px;
  font-size: 28px;
  text-align: center;
  font-family: "Libre Barcode 39 Extended Text", cursive;
  background: #5585b5;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.footer:hover {
  background: linear-gradient(to right, #5585b5, #887575, #5585b5, #887575);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}
